<div class="hero-jumbotron vh-100">
    <div class="container-fluid p-5">
        <h1 class="text-orange fw-bold text-border-dark">Move & Groove</h1>
        <p class="text-orange fw-bold text-border-dark">Sweat. Get Juicy!</p>
        <%= link_to 'Create account', new_user_registration_path, class: 'btn btn-green' %>
    </div>
</div>
