/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";

.bg-lime {
    background-color: chartreuse;
}

// faire des media queries pour la height du jumbotron
.hero-jumbotron {
    background: 50% 66% / cover no-repeat url("hero_img.webp");
}

@media (min-width: 768px) {
    .hero-jumbotron {
        height: 300px;
    }
}
@media (min-width: 1200px) {
    .hero-jumbotron {
        height: 500px;
    }  
}

// sizes
.vh-50 {
    height: 50vh;
}
.vh-25 {
    height: 25vh;
}

// z-indexes
.z-1 {
    z-index: 1;
}

// Texts
.text-orange, .nav-link:hover {
    color: orangered !important;
}
.text-green-dark {
    color: limegreen;
}
.text-green, a.text-green-dark:hover {
    color: chartreuse;
}
a.text-orange:hover {
    color: orange !important;
}
.text-border-dark {
    text-shadow: #000 1px 0, #000 0 1px, #000 -1px 0, #000 0 -1px;
}

// Buttons
.btn-orange {
    color: #000;
    background-color: orange;
    border-color: orange;
}
.btn-green {
    color: #000;
    background-color: chartreuse;
    border-color: chartreuse;
}
.btn-orange:hover, .btn-green:hover {
    filter: brightness(1.125) saturate(1.5);
}

// Borders
.border-orange {
    border-color: orange !important;
}

// Activity cards
.card-img {
    height: 10rem;
}
.running {
    background: center / cover no-repeat url("activities/running.jpg");
}
.cycling {
    background: center / cover no-repeat url("activities/cycling.jpg");
}
.hiking {
    background: center / cover no-repeat url("activities/hiking.webp");
}
.lifting {
    background: center / cover no-repeat url("activities/lifting.jpg");
}
.swimming {
    background: center / cover no-repeat url("activities/swimming.jpg");
}
.skiing {
    background: center / cover no-repeat url("activities/skiing.jpeg");
}
.yoga {
    background: center / cover no-repeat url("activities/yoga.jpg");
}
.rowing {
    background: center / cover no-repeat url("activities/rowing.webp");
}
.skateboarding {
    background: center / cover no-repeat url("activities/skateboarding.jpeg");
}
.climbing {
    background: center / cover no-repeat url("activities/climbing.webp");
}
.tennis {
    background: center / cover no-repeat url("activities/tennis.webp");
}
.soccer {
    background: center / cover no-repeat url("activities/soccer.jpg");  
}
.basket {
    background: center / cover no-repeat url("activities/basket.webp");  
}