<div class= "mx-auto w-50 mt-3">
  <h1>Editing activity</h1>

  <%= render "form", activity: @activity %>

  <div class="d-lg-block d-flex flex-column text-center">
    <%= link_to "Show this activity", @activity %> <span class="d-none d-lg-inline">|</span>
    <%= link_to "Back to activities", user_activities_path(current_user.id) %>
  </div>
</div>