<p style="color: green"><%= notice %></p>

<h1>Your activities</h1>

<div id="activities">
  <% @activities.each do |activity| %>
    <% if activity.user_id == current_user.id %>
      <%= render activity %>
      <p>
        <%= link_to "Show this activity", activity %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New activity", new_activity_path %>
