<%= render @activity %>

<div>
  <% if user_signed_in? && @activity.user_id == current_user.id %><%= link_to "Edit this activity", edit_activity_path(@activity) %> |<% end %>
  <%= link_to "Back to activities", activities_path %>

  <%= button_to "Destroy this activity", @activity, method: :delete if user_signed_in? && @activity.user_id == current_user.id %>
</div>
